services:
  node: &node
    platform: linux/x86_64
    build: .
    environment:
      # Common config
      MIX_ENV: dev
      PHX_HOST: localhost
      # Gossip config
      ERL_AFLAGS: "-kernel shell_history enabled"
      RELEASE_COOKIE: "super-secret-cookie"
      # DB
      DATABASE_URL: ecto://postgres:postgres@db:5432/imgd_dev

    depends_on:
      - db
    # Allow gossip multicast
    # network_mode: host # Simplest for gossip, or use shared bridge with multicast
    networks:
      - cluster_net

  node1:
    <<: *node
    container_name: imgd_node1
    hostname: node1
    environment:
      <<: *node.environment
      PORT: 4000
    ports:
      - "4000:4000"

  node2:
    <<: *node
    container_name: imgd_node2
    hostname: node2
    environment:
      <<: *node.environment
      PORT: 4001
    ports:
      - "4001:4001"

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: imgd_dev
    ports:
      - "5432:5432"
    networks:
      - cluster_net

networks:
  cluster_net:
    driver: bridge
